@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(49, 49, 50);
  background: linear-gradient(
    145deg,
    rgba(49, 49, 50, 1) 0%,
    rgba(22, 22, 24, 1) 80%
  );
  /* background-repeat: ; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 582px) {
  body {
    background-image: url("../public/curve.svg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

/* @media only screen and (max-width: 500px) {
  body {
    width: 100vw;
    height: 100vh;
  }
} */
