@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(49, 49, 50);
  background: linear-gradient(
    145deg,
    rgba(49, 49, 50, 1) 0%,
    rgba(22, 22, 24, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

body {
  background-image: url("../public/curve.svg");
  background-size: cover;
  background-blend-mode: luminosity;
}
